@{
    ViewData["Title"] = "Home Page";
}

    <div class="slider-box clearfix">
        <div class="caption-box clearfix">
        <p class="top-slide"> Welcome!</p>
            <h3>Rent A Car</h3>

            <p class="bottom-slide">
            You’ve come to the right place for all your car rental needs! Welcome to our site.
            With our wide range of vehicles and flexible rental options, we're here to make every journey enjoyable and comfortable.
            Whether you’re planning a business trip or a vacation, 
            you’ll definitely find a car that suits you.
            </p>
            <br />
        <a href="#hakkinda" class="detay1-button">Detail</a>
        </div>

    </div>

    <div id="hakkinda" class="content clearfix">

       
    </div>
    <br>
    <br>


    <!--işler-->
    <div class="container1" id="hizmetler">

        <div id="clients" class="bg bg2 content">
            <div class="bg-mask"></div>
            <div class="para-img"></div>
            <div class="container box-content">
                <i class="content-icon fa fa-recycle"></i>
                <p class="top-title">Neden BİZ</p>
                <h2 class="content-title">HİZMETLERİMİZ</h2>
                <div class="spacing40 clearboth"></div>

                <div class="row client-list">
                    <div class="col-md-6">
                        <div class="service-card">
                            <div class="icon-container">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <h3>Bahçe Deneyimleri</h3>
                            <p>
                                Bahçenizin büyüleyici bir atmosfere dönüşmesi için özel olarak tasarlanmış fanuslar,
                                bitkiler ve aydınlatma sistemleri ile eşsiz bir bahçe yaratıyoruz. Her proje,
                                müşterilerimizin özel isteklerini ve zevklerini yansıtan benzersiz tasarımlarla hayata
                                geçiriliyor.
                            </p>
                            <a href="#" class="button">Detay</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-card">
                            <div class="icon-container">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <h3>Danışmanlık Hizmetleri</h3>
                            <p>
                                Her proje bizim için bir sanat eseri olarak kabul edilir ve müşteri memnuniyeti odaklı
                                yaklaşımımızla bahçe düşlerinizi gerçeğe dönüştürmek için buradayız. Bizimle iletişime
                                geçin ve bahçenizin potansiyelini keşfedin! tasarımlarla hayata geçiriliyor
                            </p>
                            <a href="#" class="button">Detay</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Galeri-->

        <div class="container" id="galeri">
            <br>
            <div class="container box-content">
                <p class="top-title">BİZİM İŞİMİZ</p>
                <h2 class="content-title">Portfolya</h2>
            </div>
            <div class="row">

                <div class="col-md-4">

                    <div class="img-team clearfix">
                        <img alt="team" src="../images/10.jpg">
                        <ul class="team-sicon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div><!--/.img-team-->

                    <div class="content-box">
                        <p class="box-subtext">Saha Ekİbİmİz</p>
                        <h3 class="box-subtitle">Winchester Kardeşler</h3>
                    </div><!--/content-box-->
                    <div class="spacing40 clearboth"></div>
                </div><!--/.col-md-4-->
                <div class="col-md-4">

                    <div class="img-team clearfix">
                        <img alt="team" src="../images/10.jpg">
                        <ul class="team-sicon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div><!--/.img-team-->

                    <div class="content-box">
                        <p class="box-subtext">Saha Ekİbİmİz</p>
                        <h3 class="box-subtitle">Winchester Kardeşler</h3>
                    </div><!--/content-box-->
                    <div class="spacing40 clearboth"></div>
                </div><!--/.col-md-4-->
                <div class="col-md-4">

                    <div class="img-team clearfix">
                        <img alt="team" src="../images/10.jpg">
                        <ul class="team-sicon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div><!--/.img-team-->

                    <div class="content-box">
                        <p class="box-subtext">Saha Ekİbİmİz</p>
                        <h3 class="box-subtitle">Winchester Kardeşler</h3>
                    </div><!--/content-box-->
                    <div class="spacing40 clearboth"></div>
                </div><!--/.col-md-4-->
                <div class="col-md-4">

                    <div class="img-team clearfix">
                        <img alt="team" src="../images/10.jpg">
                        <ul class="team-sicon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div><!--/.img-team-->

                    <div class="content-box">
                        <p class="box-subtext">Saha Ekİbİmİz</p>
                        <h3 class="box-subtitle">Winchester Kardeşler</h3>
                    </div><!--/content-box-->
                    <div class="spacing40 clearboth"></div>
                </div><!--/.col-md-4-->
                <div class="col-md-4">

                    <div class="img-team clearfix">
                        <img alt="team" src="../images/10.jpg">
                        <ul class="team-sicon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div><!--/.img-team-->

                    <div class="content-box">
                        <p class="box-subtext">Saha Ekİbİmİz</p>
                        <h3 class="box-subtitle">Winchester Kardeşler</h3>
                    </div><!--/content-box-->
                    <div class="spacing40 clearboth"></div>
                </div><!--/.col-md-4-->
                <div class="col-md-4">

                    <div class="img-team clearfix">
                        <img alt="team" src="../images/10.jpg">
                        <ul class="team-sicon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div><!--/.img-team-->

                    <div class="content-box">
                        <p class="box-subtext">Saha Ekİbİmİz</p>
                        <h3 class="box-subtitle">Winchester Kardeşler</h3>
                    </div><!--/content-box-->
                    <div class="spacing40 clearboth"></div>
                </div><!--/.col-md-4-->
                <div class="col-md-4">

                    <div class="img-team clearfix">
                        <img alt="team" src="../images/10.jpg">
                        <ul class="team-sicon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div><!--/.img-team-->

                    <div class="content-box">
                        <p class="box-subtext">Saha Ekİbİmİz</p>
                        <h3 class="box-subtitle">Winchester Kardeşler</h3>
                    </div><!--/content-box-->
                    <div class="spacing40 clearboth"></div>
                </div><!--/.col-md-4-->

                <div class="col-md-4">

                    <div class="img-team clearfix">
                        <img alt="team" src="../images/3.jpg">
                        <ul class="team-sicon">
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div><!--/.img-team-->

                    <div class="content-box">
                        <p class="box-subtext">Mİmarlarımız</p>
                        <h3 class="box-subtitle">Fanus Aİlesİ</h3>
                    </div><!--/content-box-->
                    <div class="spacing40 clearboth"></div>
                </div><!--/.col-md-4-->

                <div class="col-md-4">

                    <div class="img-team clearfix">
                        <img alt="team" src="../images/9.jpg">
                        <ul class="team-sicon">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div><!--/.img-team-->

                    <div class="content-box">
                        <p class="box-subtext">Bitki bilimcisi ve fitologumuz</p>
                        <h3 class="box-subtitle">Lara ve Jess</h3>
                    </div><!--/content-box-->
                    <div class="spacing40 clearboth"></div>
                </div><!--/.col-md-4-->

            </div><!--/.row-->
        </div><!--container-->
        <br><br>
        <div id="clients" class="bg bg2 content">
            <div class="bg-mask"></div>
            <div class="para-img"></div>
            <div class="container box-content">
                <i class="content-icon fa fa-recycle"></i>
                <p class="top-title">İşbirliği Yaptığımız</p>
                <h2 class="content-title">Markalar</h2>
                <div class="spacing40 clearboth"></div>

                <div class="row client-list">

                    <div class="col-md-6">
                        <img alt="client" src="../images/i2.jpg">
                    </div>
                    <div class="col-md-6">
                        <img alt="client" src="../images/i2.jpg">
                    </div>
                </div>
                <br>
                <div><a href="#" class="button">Detay</a></div>
                <br><br>
            </div>
        </div>
        <br><br>
        <!--İletişim-->
        <div id="iletisim" class="content clearfix">
            <div class="container box-content">
                <i class="content-icon fa fa-building-o"></i>
                <p class="top-title">Konuşalım ve Tanışalım</p>
                <h2 class="content-title">İletİşİm BİlGİlerİ</h2>
            </div><!--/box-content-->

            <div class="spacing40 clearboth"></div>

            <div class="container">

                <!--Adres -->
                <div class="hidden map-content">
                    <div class="box-map">
                        <img src="images/maps.jpg" alt="">
                        <h3>Ofisimiz</h3>
                        <p><b>Adres:</b> Ballı Caddesi, No: 123, İstanbul</p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-7">

                        <div id="map_canvas" class="map_canvas">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385396.6059676668!2d29.01217945!3d41.0053215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1710106397038!5m2!1str!2str"
                                    width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                        <div id="form-wrapper">
                            <div id="form-inner">
                                <div id="MainContent">
                                    <form id="ContactForm" name="ContactForm" method="post">
                                        <p class="name">
                                            <input type="text" name="name" id="name" placeholder="Adınız ...">
                                            <label for="name" id="nameLb">

                                        </p>
                                        <p>
                                            <input type="email" name="email" id="email" placeholder="E-mailiniz ...">
                                            <label for="email" id="emailLb"></label>
                                        </p>
                                        <p class="textarea">
                                            <textarea name="message" id="message" placeholder="Mesajınız ..."
                                                      rows="4"></textarea>
                                            <label for="message" id="messageLb"></label>
                                        </p>
                                        <div class="clearfix"></div>
                                        <a href="#" class="contact-btn">Gönder</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="spacing30 clearboth"></div>
                    </div><!--/col-md-7-->

                    <div class="col-md-4 contact-box">
                        <p class="line-subtext">Ziyaret İçİn</p>
                        <h3 class="content-subtitle">Adresİmİz</h3>
                        <p>Ballı Caddesi, No: 123, İstanbul<br>Türkiye 1071</p>
                        <img class="sag1-icon" src="../images/hand.png" alt="İkon">
                        <div class="spacing40 clearboth"></div>

                        <p class="line-subtext">Aramalar İçİn</p>
                        <h3 class="content-subtitle">Numaralarımız</h3>
                        <p>987-654-321 <br>982-872-210</p>
                        <img class="sag1-icon" src="../images/hand.png" alt="İkon">
                        <div class="spacing40 clearboth"></div>

                        <p class="line-subtext">Arzlarınız İçİn</p>
                        <h3 class="content-subtitle">E-maİlİmİz</h3>
                        <p><a href="#">fanus@email.com</a></p>
                        <img class="sag1-icon" src="../images/hand.png" alt="İkon">
                        <div class="spacing40 clearboth"></div>

                    </div>

                </div>
            </div>
        </div>

      
       
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var nav = document.getElementById("main-nav");

                window.addEventListener("scroll", function () {
                    if (window.scrollY > 0) {
                        nav.style.backgroundColor = "#4d7c76c0"; // Arka plan renginizi buradan belirleyebilirsiniz
                    } else {
                        nav.style.backgroundColor = "transparent"; // Sayfa en üste scroll edildiğinde rengi tekrar şeffaf yapın
                    }
                });
            });
        </script>

