@{
    ViewData["Title"] = "Home Page";
}

<div class="slider-box clearfix">
    <div class="caption-box clearfix">
        <p class="top-slide"> Welcome!</p>
        <h3>Rent A Car</h3>

        <p class="bottom-slide">
            You’ve come to the right place for all your car rental needs! Welcome to our site.
            With our wide range of vehicles and flexible rental options, we're here to make every journey enjoyable and comfortable.
            Whether you’re planning a business trip or a vacation,
            you’ll definitely find a car that suits you.
        </p>
        <br />
        <a href="#hakkinda" class="detay1-button">Detail</a>
    </div>

</div>

<div id="hakkinda" class="content clearfix">


</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var nav = document.getElementById("main-nav");

        window.addEventListener("scroll", function () {
            if (window.scrollY > 0) {
                nav.style.backgroundColor = "#4d7c76c0"; // Arka plan renginizi buradan belirleyebilirsiniz
            } else {
                nav.style.backgroundColor = "transparent"; // Sayfa en üste scroll edildiğinde rengi tekrar şeffaf yapın
            }
        });
    });
</script>

