html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    line-height: 2;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    margin-bottom: 60px;
    /* overflow: hidden;*/
}
/**/
.container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    background-color: #214a80cc;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-floating .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #a6b3c2;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: #fff;
}

    .form-floating  {
        border-bottom-color: #2980ef;
        box-shadow: none;
    }

.form-floating .form-label {
    color: #a6b3c2;
}


.btn-primary {
    background: #214a80;
    border: none;
    border-radius: 4px;
    padding: 12px;
    text-shadow: none;
    outline: none;
}

    .btn-primary:hover, .btn-primary:active {
        background: #2980ef;
        outline: none;
    }

.text-danger {
    color: #ff6b6b;
}



.mavi {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

/* menü*/



#main-nav {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* karsilama */


.caption-box {
    background: #475d62 url(../img/dh3.jpg);
    
    background-size: cover;
    position: relative;
    padding: 13% 0 13%; /* yükseklik ayarlarý için */
    text-align: center;
}


    .caption-box h3 {
        color: #051F5B;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 500;
        text-shadow: 4px 1px #547ddfc1;
        letter-spacing: 5px;
        line-height: 1.2;
        margin: 20px auto 30px;
        max-width: 500px;
        text-transform: uppercase;
    }


.top-slide {
    text-shadow: 2px 1px #051F5B;
    color:white;
    display: inline-block;
 /*   font-family: rubik;*/
    font-size: 25px;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
}



.bottom-slide {
    color: #fff;
    text-shadow: black 1px 1px 0,7px;
    line-height: 1.7;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0 auto;
    max-width: 500px;
    text-transform: uppercase;
  
    text-decoration: none;
}

.detay1-button {
    cursor: pointer;
    border: 2px solid#051F5B;
    color: #ffffff;
    display: inline-block;
    font-family: rubik;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 1;
    margin-top: 10px;
    padding: 14px 30px;
    text-transform: uppercase;
    text-decoration: none;
}

    .detay1-button:hover {
        background: #112f76ba;
        color: #ffffff;
        text-decoration: none;
    }


/*profile*/
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
    }

        .account-settings .user-profile .user-avatar img {
            width: 90px;
            height: 90px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }

    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
    }

    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
    }

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
    }

    .account-settings .about p {
        font-size: 0.825rem;
    }

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.profile {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

/**/