html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    line-height: 2;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    margin-bottom: 60px;
    /* overflow: hidden;*/
}


.login-dark {
    height: 90vh;
    background: #475d62 url(../img/backlog.jpg);
    background-size: cover;
    position: relative;
}

    .login-dark form {
        max-width: 380px;
        width: 90%;
        background-color: rgb(39, 49, 59,0.5);
        padding: 40px;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    }

    .login-dark .illustration {
        text-align: center;
        padding: 15px 0 20px;
        font-size: 100px;
        color: #2980ef;
    }

    .login-dark form .form-control {
        background: none;
        border: none;
        border-bottom: 1px solid #434a52;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        color: inherit;
    }

    .login-dark form .btn-primary {
        background: #214a80;
        border: none;
        border-radius: 4px;
        padding: 11px;
        box-shadow: none;
        margin-top: 26px;
        text-shadow: none;
        outline: none;
    }

        .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
            background: #214a80;
            outline: none;
        }

    .login-dark form .forgot {
        display: block;
        text-align: center;
        font-size: 12px;
        color: #6f7a90;
        opacity: 0.9;
        text-decoration: none;
    }

        .login-dark form .forgot:hover, .login-dark form .forgot:active {
            opacity: 1;
            text-decoration: none;
        }

    .login-dark form .btn-primary:active {
        transform: translateY(1px);
    }


/* */


.mavi {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

/* menü*/



#main-nav {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* karsilama */


.caption-box {
    background: #475d62 url(../img/dh3.jpg);
    
    background-size: cover;
    position: relative;
    padding: 13% 0 13%; /* yükseklik ayarlarý için */
    text-align: center;
}


    .caption-box h3 {
        color: #051F5B;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: 500;
        text-shadow: 4px 1px #547ddfc1;
        letter-spacing: 5px;
        line-height: 1.2;
        margin: 20px auto 30px;
        max-width: 500px;
        text-transform: uppercase;
    }


.top-slide {
    text-shadow: 2px 1px #051F5B;
    color:white;
    display: inline-block;
 /*   font-family: rubik;*/
    font-size: 25px;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
}



.bottom-slide {
    color: #fff;
    text-shadow: black 1px 1px 0,7px;
    line-height: 1.7;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0 auto;
    max-width: 500px;
    text-transform: uppercase;
  
    text-decoration: none;
}

.detay1-button {
    cursor: pointer;
    border: 2px solid#051F5B;
    color: #ffffff;
    display: inline-block;
    font-family: rubik;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 1;
    margin-top: 10px;
    padding: 14px 30px;
    text-transform: uppercase;
    text-decoration: none;
}

    .detay1-button:hover {
        background: #112f76ba;
        color: #ffffff;
        text-decoration: none;
    }






/* iþler */


.service-card {
    text-shadow: 4px 4px 6px #253725;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #ffffff;
}

.icon-container i {
    text-shadow: 0 4px 6px #253725;
    color: #fff9f9;
    font-size: 24px;
}


.container1 .service-card p {
    text-shadow: 4px 4px 6px rgb(24, 101, 34);
    color: #ffffff;
    ;
}

.button {
    cursor: pointer;
    border: 2px solid #3A774D;
    background: #9ba572e6;
    color: #ffffff;
    display: inline-block;
    font-family: rubik;
    letter-spacing: 4px;
    line-height: 1;
    padding: 14px 30px;
    text-transform: uppercase;
    text-decoration: none;
}

    .button:hover {
        background: #9ba57284;
        color: #ffffff;
        text-decoration: none;
    }



/* haritali */

.map_canvas {
    height: 350px;
    margin-bottom: 20px;
}

.box-map {
    line-height: 1;
    padding: 20px 0 20px 20px;
    text-align: center;
    width: 100%;
}

    .box-map > h3 {
        font-size: 16px;
        letter-spacing: 3px;
        margin: 10px 0 20px;
        text-transform: uppercase;
    }

form input,
form textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #888;
    line-height: inherit;
    padding: 12px 20px;
    width: 80%;
    background: #fff;
}

#ContactForm {
    text-align: left;
}

input:focus,
textarea:focus {
    border-color: #aaa;
}

::-webkit-input-placeholder {
    color: #999;
}

#ContactForm p label {
    cursor: text;
    display: block;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #999;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

#form-wrapper #MyContactForm {
    bottom: 12px;
    color: #3A774D;
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    left: auto;
    font-style: italic;
    letter-spacing: 0;
    position: absolute;
    right: 20px;
    text-transform: capitalize;
    width: auto;
}

.contact-btn {
    cursor: pointer;
    border: 2px solid#3A774D;
    color: #36624d;
    display: inline-block;
    font-family: rubik;
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 1;
    margin-top: 5px;
    padding: 14px 30px;
    text-transform: uppercase;
    text-decoration: none;
}

    .contact-btn:hover {
        background: #9ba57284;
        color: #ffffff;
        text-decoration: none;
    }

#MyContactForm p {
    position: relative;
}

.response h3 {
    font-size: 22px;
    margin: 10px 0 25px;
    text-transform: uppercase;
}

.contact-box .sub-title {
    color: #333;
}

/* iþbirlik */
.bg {
    overflow: hidden;
    position: relative;
}

.bg-mask {
    background-color: rgba(46, 64, 38, 0.34);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.bg .para-img {
    background-image: url("../images/14.jpg");
}

.para-img {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.bg .box-content {
    position: relative;
    z-index: 1;
}

.bg .slide-btn {
    margin: 40px 0;
}
