@model RentACar.Models.Rental

@{
    ViewData["Title"] = "Update Rental";
}


<div class="container mt-5">
    <h2 class="mb-4">@ViewData["Title"]</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                <input asp-for="Id" hidden />
                <input asp-for="CarId" hidden />
                <input asp-for="CarBrandName" hidden />
                <input asp-for="CarName" hidden />
                <input asp-for="Car" hidden />
                <input asp-for="UserId" hidden />
                <input asp-for="User" hidden />
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Car Name</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="@Model.CarName" disabled />
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Car Brand</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="@Model.CarBrandName" disabled />
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label asp-for="StartDate" class="col-sm-4 col-form-label control-label">Start Date</label>
                    <div class="col-sm-8">
                        <input asp-for="StartDate" type="datetime-local" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row mt-3">
                    <label asp-for="EndDate" class="col-sm-4 col-form-label control-label">End Date</label>
                    <div class="col-sm-8">
                        <input asp-for="EndDate" type="datetime-local" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row mt-4">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary mr-2">Update</button>
                        <a asp-action="RentList" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

