@model RentACar.Models.Rental

@{
    ViewData["Title"] = "Update Rental";
}

<div class="container mt-5">
    <h2 class="mb-4">Update Rental</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                <input asp-for="Id" hidden />
                <div class="col-sm-6">
                    <label asp-for="CarBrandName" class="form-label">Brand</label>
                    <input asp-for="CarBrandName" disabled class="form-control" />
                    <span asp-validation-for="CarBrandName" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="CarName" class="form-label">Car Name</label>
                    <input asp-for="CarName" disabled class="form-control" />
                    <span asp-validation-for="CarName" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="StartDate" class="col-sm-2 col-form-label">Start Date</label>
                    <div class="col-sm-6">
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label asp-for="EndDate" class="col-sm-2 col-form-label">End Date</label>
                    <div class="col-sm-6">
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mt-4">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary mr-2">Update</button>
                        <a asp-action="RentList" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
