@model Rental
@{
    ViewData["Title"] = "Delete Rent";
}


<form method="post">
    <input asp-for="Id" hidden /> 
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">@ViewData["Title"]</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="CarBrandName" class="form-label">Brand</label>
            <input asp-for="CarBrandName" disabled class="form-control" />
            <span asp-validation-for="CarBrandName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CarId" class="form-label">Car Name</label>
            <input asp-for="CarId" disabled class="form-control" />
            <span asp-validation-for="CarId" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <button type="submit" class="btn btn-lg btn-primary" style="width:100%">Delete</button>
            </div>
            <div class="col-md-6 mb-3">
                <a asp-controller="Rental" asp-action="Index" class="btn btn-lg btn-primary" style="width:100%">
                    Back
                </a>
            </div>
        </div>
    </div>
</form>

