@model Rental
@{
    ViewData["Title"] = "Delete Rent";
}


<div class="container mt-5">
    <h2 class="mb-4">Delete </h2>
    <form method="post">
        <input asp-for="Id" hidden />
        <input asp-for="CarId" hidden />
        <div class="border p-3 mt-5">
            <div class="mb-3">
                <label asp-for="CarName">Car:</label>
                <input asp-for="CarName" disabled type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="CarBrandName">Brand:</label>
                <input asp-for="CarBrandName" disabled type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="StartDate">Start Date</label>
                <input asp-for="StartDate" disabled type="text" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="EndDate">End Date</label>
                <input asp-for="EndDate" disabled type="text" class="form-control" />
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Delete </button>
            <a asp-controller="Users" asp-action="Index" class="btn btn-lg btn-primary">Back</a>
        </div>
    </form>
</div>
